/* =============================================================================
   GENERIC STYLES 
   ========================================================================== */
/* ---- Generic button ------------------------------------------------------ */
.generic_button {
  background-color: #9A0101;
  border-radius: 30px;
  text-align: center;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #E9ECEF;
  width: 200px;
  font-family: 'Krona One', sans-serif;
  cursor: pointer;
}
.generic_button:active, 
.generic_button:hover {
  font-weight: 600;
  filter: brightness(1.05);
  text-decoration: underline;
}
/* ---- Classes to group repeated properties -------------------------------- */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: 'Krona One', sans-serif;
  margin: 0;
}
/* ---- Body ---------------------------------------------------------------- */
body {
  margin: 0;
  font-family: 'Mingzat', sans-serif;
  color: #CED4DA;
}
body::-webkit-scrollbar {
  width: 7px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6C757D;
}
/* ---- Header with navigation ---------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: #040101;
}
/* ---- Header logo to home ------------------------------------------------- */
.header-logo, .header-logo > * {
  cursor: pointer;
}
.header-logo:target,
.header-logo:hover, 
.header-logo img:target,
.header-logo img:hover, 
.header-logo > *:target,
.header-logo > *:hover {
  filter: brightness(1.05);
}
.header-logo img {
  width: 140px;
}
/* ---- Header dropdown menu for mobile and navigation bar for desktop ------ */
.header-dropdown_menu,
.header-nav_bar {
  flex-grow: 2;
  display: flex;
  justify-content: end;
  list-style: none;
  color: #E9ECEF;
}
.header-nav_bar {
  display: none;
  justify-content: end;
  align-items: center;
  margin: 0;
}
@media only screen and (min-width: 769px) {
  .header-dropdown_menu {
    display: none;
  }
  .header-nav_bar {
    display: flex;
  }
}
/* ---- Dropdoen menu button ------------------------------------------------ */
.header-dropdown_menu-button {
  border: none;
  background: none;
  width: 30px;
  box-sizing: content-box;
  cursor: pointer;
}
.header-dropdown_menu-button:hover, 
.header-dropdown_menu-button:target {
  filter: brightness(1.05);
}
.header-dropdown_menu-button:active, 
.header-dropdown_menu-button:hover,
.header-dropdown_menu-button > *:active, 
.header-dropdown_menu-button > *:hover {
  filter: brightness(1.5);
}
.header-dropdown_menu-button img {
  width: inherit;
}
/* ---- Dropdown menu content and navigation items -------------------------- */
.header-dropdown_menu-content {
  display: none;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  list-style: none;
  background-color: #212529;
  margin-top: 64px;
  right: 0;
  padding: 0;
  width: max-content;
}
.header-dropdown_menu-content.active {
  display: flex;
}
.header-dropdown_menu-content-item,
.header-nav_bar-item {
  padding: 10px 20px;
}
.header-dropdown_menu-content-item a, 
.header-nav_bar-item a {
  text-decoration: none;
  color: inherit;
  white-space:nowrap;
}
.header-dropdown_menu-content-item a:active,
.header-dropdown_menu-content-item a:hover,
.header-nav_bar-item a:active, 
.header-nav_bar-item a:hover {
  filter: brightness(1.05);
  text-decoration: underline;
}
/* ---- Header "SIGN IN" link ----------------------------------------------- */
.header-dropdown_menu-content-item.sign_in_item,
.header-nav_bar-item.sign_in_item {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.header-dropdown_menu-content-item.sign_in_item {
  background-color: #6C757D;
}
.header-nav_bar-item.sign_in_item {
  color: #6C757D;
}
.header-dropdown_menu-content-item.sign_in_item a {
  margin: 0;
  padding: 0;
}
/* ---- Header "Join Us" button --------------------------------------------- */
.header-dropdown_menu-content-item.join_us_item,
.header-nav_bar-item.join_us-item {
  flex-grow: 2;
  max-width: 200px;
}
.header-dropdown_menu-content-item.join_us_item {
  padding: 0;
}
.header-dropdown_menu-content-item.join_us_item form,
.header-nav_bar-item.join_us-item form {
  display: flex;
  width: 100%;
}
.header-dropdown_menu-content-item.join_us_item button {
  border-radius: 0;
  width: 100%;
}

/* =============================================================================
   SECTION 1: "JOIN US" 
   ========================================================================== */
.join_us_section {
  text-align: center;
  padding: 30px;
  background-color: #343A40;
}
@media only screen and (min-width: 769px) {
  .join_us_section {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: #343A40;
    text-align: center;
  }
}
.join_us_section img {
  width: 100px;
}
.join_us_section-center_content {
  margin: 20px;
}
.join_us_section-center_content-title {
  color: #E9ECEF;
}
.join_us_section-center_content-subtitle {
  margin: 0;
}
.join_us_section-center_content-resume {
  margin: 0;
}
.join_us_section-center_content-resume:last-of-type {
  margin-bottom: 20px;
}
.join_us_section-center_content a {
  color: #E9ECEF;
  font-weight: 600;
  text-decoration: none;
}
.join_us_section-center_content a:active,
.join_us_section-center_content a:hover {
  text-decoration: underline;
}

/* =============================================================================
   SECTION 2: "COURSES AND TUTORIALS RESUME" 
   ========================================================================== */
.courses_section {
  padding: 30px;
  background-color: rgba(255, 247, 230);
  color: #343A40;
  font-family: 'Krona One', sans-serif;
}
.courses_section-title {
  text-align: center;
}
.courses_section-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.courses_section-category:first-of-type {
  background-image: url("./img/worn-parchment.png");
}
.courses_section-category:last-of-type {
  background-image: url("./img/parchment.png");
}
.courses_section-category-resume-subtitle {
  margin: 0;
  text-align: center;
}
.courses_section-category-resume-list {
  list-style: none;
  padding-inline-start: 0;
}
.courses_section-category-resume-list-item {
  background-image: url(./svg/check.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 40px;
  padding-left: 45px;
  margin: 5px 0;    
  display: flex;
  align-items: center;
}
.courses_section-category-image {
  width: 315px;
}
.courses_section-category-separator {
  width: 100%;
  border: none;
  height: 0.5px;
  background-color: #dbc8b1;
  margin: 20px 0;
}
.courses_section-category:last-of-type .courses_section-category-separator {
  display: none;
}
/* ---- From medium to greater devices--------------------------------------- */
@media only screen and (min-width: 481px) {
  .courses_section-category {
    background-position: bottom;
  }
  .courses_section-category-resume {
    background: rgba(255, 247, 230, 0.50);
    border-radius: 20px;
    padding: 10px;
  }
  .courses_section-category:first-of-type .courses_section-category-resume {
    margin: 10px 0 115px 0;
  }
  .courses_section-category:last-of-type .courses_section-category-resume {
    margin: 10px 0 145px 0;
  }
  .courses_section-category-resume-list {
    padding-inline-start: 25px;
  }
}
/* ---- Greatest devices ---------------------------------------------------- */
@media only screen and (min-width: 769px) {
  .courses_section-category {
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: top;
  }
  .courses_section-category:last-of-type {
    flex-flow: row-reverse;
  }
  .courses_section-category:first-of-type, 
  .courses_section-category:last-of-type {
    background: inherit;
    margin-top: 20px;
  }
  .courses_section-category-image {
    background-image: url(./img/parchment.png);
    background-size: contain;
  }
  .courses_section-category-resume-subtitle {
    text-align: start;
  }
  .courses_section-category-resume {
    padding: 10px;
    flex-grow: 2;
    background: none;
  }
  .courses_section-category:first-of-type .courses_section-category-resume {
    padding: 0 0 0 40px;
  }
  .courses_section-category:last-of-type .courses_section-category-resume {
    padding: 0;
  }
  .courses_section-category:first-of-type .courses_section-category-resume,
  .courses_section-category:last-of-type .courses_section-category-resume {
    margin: 10px 0;
  }
}

/* =============================================================================
SECTION 2: "CAREERS" 
========================================================================== */
.careers_section {
  background-color: #212529;
  padding: 30px;
}
.careers_section-title {
  text-align: center;
}
.careers_section-resume {
  margin-bottom: 0;
  text-align: center;
}
.careers_section-careers_group-name {
  text-transform: capitalize;
  background-color: #495057;
  width: fit-content;
  padding: 0 5px;
  border-radius: 10px;
}
.careers_section-careers_group-careers {
  display: grid;
  grid-template-columns: repeat(2, 155px [col-start]);
  grid-template-rows: repeat(3, 120px [row-start]);
}
.careers_section-careers_group-careers-career {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  color: #ADB5BD;
  border: 2px solid #9A0101;
  border-radius: 20px;
  box-shadow: 0 0 7px #fe3434, 0 0 5px #9a0101, inset 0 0 5px #9a0101;
  margin: 10px;
  flex-grow: 2;
  padding: 5px;
}
.careers_section-careers_group-separator {
  width: 100%;
  border: none;
  height: 0.5px;
  background-color: #ADB5BD;
  margin: 20px 0;
}
/* ---- From medium to greater devices--------------------------------------- */
@media only screen and (min-width: 481px) {
  .careers_section-careers_group-careers {
    grid-template-columns: repeat(3, 30%[col-start]);
    grid-template-rows: repeat(2, 120px [row-start]);
    justify-content: center;
  }
}